.col-4{
  height: 524px;
  border: 1px solid gray;
}
.col-8{
  border: 1px solid gray;
}
a:hover{
  background-color: lightgray;
}
p:hover{
  cursor: pointer;
}

.Tasks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected{
  background-color: gray;
}
.completed{
  text-decoration: line-through;
  opacity: 0.8;
}
