.col-4{
  height: 524px;
  border: 1px solid gray;
}
.col-8{
  border: 1px solid gray;
}
a:hover{
  background-color: lightgray;
}

.newList:hover{
  cursor: pointer;
  background-color: lightgray;
}

.selected{
  background-color: gray;
}
